* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 62.5% de 16px (padrão do navegador) = 10px */
}

body {
  background: #ece9fd;

  padding: 6rem 2.3rem 6.6rem; /* 60px 23px 66px */

  font-family: "Epilogue", sans-serif;
  font-size: 1.6rem; /* Voltando com os 16px padrão do navegador. */
}

main {
  max-width: 33.0rem;
  margin: 0 auto;
}

ul {
  list-style: none;
}

h1 {
  color: #090039;

  font-weight: 800;
  font-size: 4rem; /* 40px */
  line-height: 4.8rem; /* 48px */

  margin-bottom: 1.5rem;
}

main p:first-child {
  color: #7158ef;

  font-size: 1.6rem;
  line-height: 3.2rem;
  letter-spacing: 3px;
  text-transform: uppercase;

  margin-bottom: 1.7rem;
}

h1 + p {
  color: rgba(10, 0, 57, 0.64);

  line-height: 3.2rem;

  margin-bottom: 3.2rem;
}

a {
  color: #090039;

  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

ul {
  margin-top: 7.2rem;
}

ul li {
  color: #090039;

  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;

  max-width: 25.7rem;

  display: flex;
  align-items: center;
  gap: 3.8rem;
}

ul li span {
  color: #090039;

  font-size: 7.2rem;
  font-weight: 800;
  line-height: 8rem;
  letter-spacing: -2px;
}
